
html,
body {
	height: 100%;
	font-family: "Work Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Work Sans", sans-serif;
	color: #6a6b7c;
	font-weight: 400;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}


button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.set-bg{
	background-repeat: no-repeat;
	background-size: cover;
}

.section-title {
	text-align: center;
	margin-bottom: 52px;
}

.section-title h2 {
	font-size: 40px;
	font-weight: 700;
	color: #171822;
	margin-bottom: 10px;
}

.section-title p {
	font-size: 18px;
	color: #6a6b7c;
	margin-bottom: 0;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.bg-gradient,
.bd-text .bd-tag-share .s-share a:hover,
.bh-text .play-btn,
.schedule-table-tab .nav-tabs .nav-item .nav-link.active,
.newslatter-inner .ni-form button,
.latest-item .li-tag,
.price-item .price-btn:hover,
.price-item .pi-price,
.price-item .tr-tag,
.schedule-tab .nav-tabs .nav-item .nav-link.active,
.site-btn {
	background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
	background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 12px 40px;
	color: #ffffff;
	text-align: center;
	border-radius: 50px;
	background-image: -o-linear-gradient(left, #ee8425 0%, #f9488b 100%), -o-linear-gradient(left, #ee8425 0%, #f9488b 100%);
	background-image: linear-gradient(to right, #ee8425 0%, #f9488b 100%), linear-gradient(to right, #ee8425 0%, #f9488b 100%);
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
	border: none;
	padding: 10px 40px 12px;
	border-radius: 50px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/

.header-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-section.header-normal {
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	float: left;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	float: right;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	width: 180px;
	background: #ffffff;
	left: 0;
	top: 130px;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	box-shadow: 4px 13px 30px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	padding: 8px 10px;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-transform: capitalize;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #f44949;
}

.nav-menu .mainmenu ul li .dropdown li a:after {
	display: none;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 100px;
}

.nav-menu .mainmenu ul li a {
	font-size: 16px;
	color: #171822;
	text-transform: uppercase;
	font-weight: 600;
	padding: 42px 0;
	position: relative;
	display: inline-block;
}

.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 36px;
	height: 2px;
	width: 100%;
	background: #F44949;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .primary-btn.top-btn {
	margin: 27px 0;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  Hero
-----------------------*/

.hero-section {
	background-color: rgb(202, 124, 21);
	padding: 10px;
	min-height: 65vh;
	background: rgb(202, 124, 21) url("../img/nosk-bg.jpeg") no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-section .hero-text {
	position: relative;
	top: 30vh;
	animation: move-right;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

@-webkit-keyframes move-right{
 0%{
	left:-950px;
 }
 100%{
		left: 0;
 }
}


.hero-section .hero-text span {
	font-size: 22px;
	color: #ff0303;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.hero-section .hero-text h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 72px;
	font-weight: 600;
}

/*---------------------
  Counter
-----------------------*/

.counter-section {
	padding: 40px 0;
}

.counter-section .counter-text span {
	font-size: 16px;
	color: #ffffff;
}

.counter-section .counter-text h3 {
	color: #ffffff;
	font-weight: 700;
	line-height: 38px;
	margin-top: 10px;
}

.counter-section .cd-timer {
	text-align: right;
}

.counter-section .cd-timer .cd-item {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
	height: 120px;
	width: 120px;
	padding-top: 32px;
	position: relative;
}

.counter-section .cd-timer .cd-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #ffffff;
	content: "";
	opacity: 0.1;
	border-radius: 4px;
}

.counter-section .cd-timer .cd-item:first-child {
	margin-left: 0;
}

.counter-section .cd-timer .cd-item span {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	line-height: 30px;
}

.counter-section .cd-timer .cd-item p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 0;
	line-height: 30px;
}

/*---------------------
  Home About Section
-----------------------*/

.home-about-section {
	padding-bottom: 90px;
}

.ha-pic {
	-webkit-box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	box-shadow: 0px 0px 30px rgba(11, 12, 48, 0.15);
	margin-right: 30px;
}

.ha-pic img {
	min-width: 100%;
	border-radius: 2px;
}

/* .ha-text {
	padding-top: 74px;
} */

.ha-text h2 {
	color: #171822;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

.ha-text p {
	margin-bottom: 21px;
}

.ha-text ul {
	margin-bottom: 27px;
}

.ha-text ul li {
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	color: #6a6b7c;
}

.ha-text ul li span {
	color: #f44949;
}

.ha-text .ha-btn {
	font-size: 16px;
	color: #171822;
	font-weight: 600;
	position: relative;
}

.ha-text .ha-btn:before {
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 2px;
	width: 100%;
	background: #f44949;
	content: "";
}

/*---------------------
  Member Item
-----------------------*/

.team-member-section {
	overflow: hidden;
}

.member-item {
	width: 24.7%;
	float: left;
	height: 420px;
	position: relative;
	overflow: hidden;
	margin: 2px;
}

.member-item:hover .mi-social {
	top: 0;
}

.member-item:hover .mi-text {
	left: 20px;
}

.member-item .mi-social {
	text-align: center;
	position: relative;
	top: -60px;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.member-item .mi-social .mi-social-inner {
	display: inline-block;
	padding: 10px 23px 8px;
	border-radius: 0 0 4px 4px;
}

.member-item .mi-social .mi-social-inner a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	margin-right: 10px;
}

.member-item .mi-social .mi-social-inner a:last-child {
	margin-right: 0;
}

.member-item .mi-text {
	background: #ffffff;
	padding: 16px 0 18px 25px;
	position: absolute;
	left: -500px;
	bottom: 20px;
	width: calc(100% - 40px);
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.member-item .mi-text h5 {
	font-size: 20px;
	color: #171822;
	font-weight: 600;
	margin-bottom: 5px;
}

.member-item .mi-text span {
	font-size: 16px;
	color: #f44949;
	display: block;
}

/*---------------------
  Schedule Section
-----------------------*/

.schedule-section {
	padding-bottom: 60px;
}

.schedule-tab .nav-tabs {
	border: none;
	border-radius: 2px;
	margin-bottom: 60px;
	-webkit-box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
	box-shadow: 3px 10px 30px rgba(74, 74, 77, 0.15);
}

.schedule-tab .nav-tabs .nav-item {
	border-right: 1px solid #e7e7e8;
	width: 20%;
	text-align: center;
}

.schedule-tab .nav-tabs .nav-item:last-child {
	border-right: none;
}

.schedule-tab .nav-tabs .nav-item .nav-link {
	padding: 14px 0 13px 0;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active {
	border-radius: 2px;
	border-color: #e7e7e8;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active h5 {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active p {
	color: #ffffff;
}

.schedule-tab .nav-tabs .nav-item .nav-link h5 {
	color: #171822;
	font-weight: 600;
}

.schedule-tab .nav-tabs .nav-item .nav-link p {
	margin-bottom: 0;
}

.schedule-tab .st-content {
	border: 1px solid #ebebeb;
	border-radius: 2px;
	margin-bottom: 40px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.schedule-tab .st-content:hover {
	-webkit-box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	box-shadow: 3px 12px 30px rgba(23, 24, 34, 0.05);
	border: 1px solid transparent;
}

.schedule-tab .st-content .sc-pic {
	text-align: center;
	padding: 30px 0;
}

.schedule-tab .st-content .sc-pic img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.schedule-tab .st-content .sc-text {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-text h4 {
	color: #171822;
	font-weight: 600;
	margin-bottom: 10px;
}

.schedule-tab .st-content .sc-text ul li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	color: #6a6b7c;
	margin-right: 25px;
	position: relative;
}

.schedule-tab .st-content .sc-text ul li:last-child:after {
	display: none;
}

.schedule-tab .st-content .sc-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "/";
}

.schedule-tab .st-content .sc-text ul li i {
	color: #f44949;
	font-size: 14px;
}

.schedule-tab .st-content .sc-widget {
	padding: 58px 0;
}

.schedule-tab .st-content .sc-widget li {
	list-style: none;
	font-size: 16px;
	color: #6a6b7c;
	line-height: 32px;
	position: relative;
	padding-left: 22px;
}

.schedule-tab .st-content .sc-widget li i {
	color: #f44949;
	position: absolute;
	left: 0;
	top: 7px;
}

/*---------------------
  Pricing Section
-----------------------*/


/*---------------------
  Latest Blog
-----------------------*/



/*---------------------
  Home Contact 
-----------------------*/



/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #171822;
	padding-top: 50px;
	padding-bottom: 60px;
}

.partner-logo {
	padding-bottom: 50px;
	border-bottom: 1px solid #2f3039;
}

.partner-logo .pl-table {
	display: inline-block;
	display: table;
}

.partner-logo .pl-table .pl-tablecell {
	display: table-cell;
	vertical-align: middle;
	height: 41px;
}

.footer-text {
	text-align: center;
	padding-top: 60px;
}

.footer-text .ft-logo {
	margin-bottom: 20px;
}

.footer-text .ft-logo a {
	display: inline-block;
}

.footer-text ul {
	margin-bottom: 18px;
}

.footer-text ul li {
	list-style: none;
	display: inline-block;
	margin-right: 52px;
}

.footer-text ul li:last-child {
	margin-right: 0;
}

.footer-text ul li a {
	font-size: 18px;
	color: #a0a1b5;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.footer-text ul li a:hover {
	color: #f44949;
}

.footer-text .copyright-text {
	font-size: 14px;
	color: #a0a1b5;
	margin-bottom: 28px;
}

.footer-text .copyright-text i {
	color: #f44949;
}

.footer-text .copyright-text a {
	color: #a0a1b5;
}

.footer-text .copyright-text a:hover {
	color: #f44949;
}

.footer-text .ft-social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #a3a3ae;
	border: 1px solid #45464e;
	border-radius: 50%;
	margin-right: 15px;
}

.footer-text .ft-social a:last-child {
	margin-right: 0;
}

/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {



	.nav-menu .mainmenu ul li {
		margin-right: 25px;
	}
	.hero-section .hero-text {
		padding-top: 110px;
	}
	.counter-section .cd-timer .cd-item {
		margin-left: 25px;
	}
	.ha-text {
		padding-top: 0;
	}
	.member-item {
		width: 25%;
		height: 310px;
	}
	.cc-text {
		padding-top: 65px;
	}
}

@media only screen and (max-width: 991px) {

	.schedule-tab .st-content .sc-pic {
		text-align: left;
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-text {
		padding: 30px 0 0;
	}
	.schedule-tab .st-content .sc-widget {
		padding: 30px 0;
	}
	.schedule-tab .st-content {
		padding-left: 30px;
	}
	
	.latest-item.large-item {
		height: 550px;
		margin-right: 0;
		margin-left: 0;
	}
	.latest-item {
		margin-left: 0;
	}
	.cs-map {
		margin-top: 20px;
	}
	.about-text {
		margin-top: 30px;
	}
	
	.counter-section .counter-text {
		margin-bottom: 30px;
	}
	.counter-section .cd-timer {
		text-align: left;
	}
	.speaker-item .si-text .si-title {
		padding-top: 30px;
	}
	.bd-text .bd-more-pic img {
		margin-bottom: 10px;
	}
	.cc-text {
		padding-left: 40px;
	}
	.ha-pic {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.nav-menu .primary-btn.top-btn {
		display: none;
	}
	.nav-menu .mainmenu ul li {
		margin-right: 20px;
	}
	.bh-text h2 {
		font-size: 45px;
	}
	.nav-menu .mainmenu ul li:last-child {
		margin-right: 0;
	}
	.hero-section .hero-text {
		margin-bottom: 20px;
	}
	.member-item {
		width: 33.33%;
	}
}

/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {

	.counter-section .cd-timer .cd-item {
		margin-bottom: 10px;
	}
	.member-item {
		width: 50%;
	}
	
	.footer-text ul li {
		margin-right: 15px;
	}
	.schedule-table-tab .schedule-table-content {
		overflow-x: auto;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.bd-text .bd-tag-share .tag {
		float: none;
		margin-top: 0;
		margin-bottom: 25px;
	}
	.bd-text .bd-tag-share .s-share {
		float: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.nav-menu .mainmenu {
		display: none;
	}
	.nav-menu .primary-btn.top-btn {
		display: none;
	}
	.slicknav_btn {
		margin: 34px 0;
		border-radius: 0;
	}
	.slicknav_nav {
		background: #222;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #f44949;
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #f44949;
		color: #ffffff;
	}
	.member-item .mi-text {
		left: -1000px;
	}
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 40px;
		line-height: normal;
	}
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.counter-section .cd-timer .cd-item:last-child {
		margin-right: 0;
	}

}

/* Small Mobile: 320px */

@media only screen and (max-width: 479px) {
	.bh-text h2,
	.hero-section .hero-text h2 {
		font-size: 36px;
		line-height: normal;
	}
	
	.counter-section .cd-timer .cd-item {
		margin-right: 10px;
		margin-left: 0;
	}
	.schedule-tab .nav-tabs .nav-item {
		width: 33.33%;
	}
	.member-item {
		width: 100%;
	}
	
	.footer-text ul li {
		margin-bottom: 10px;
	}
	.schedule-table-tab .nav-tabs .nav-item {
		width: 50%;
	}
	.cc-text {
		padding-left: 30px;
		padding-top: 35px;
	}
	.story-item h2 {
		float: none;
		margin-bottom: 10px;
	}
	.bd-text .bd-tag-share .s-share a {
		font-size: 14px;
		height: 35px;
		width: 35px;
		line-height: 35px;
		margin-left: 5px;
	}
}

#websiteInContact:hover, #websiteInContact:focus {
	color: #6a6b7c;
}